<!DOCTYPE html>
<html>
  <head>
    <title> Mi Playstore </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
      <header>
        <p>Descargar</p>
          <nav>
              <ul>
                  <li> <a href="/application/create"> Crear App </a> </li>
                  <li> <a href="/application"> Ver Apps </a> </li>
              </ul>
          </nav>
      </header>